

.navbar {
  width: 170px;
  background-color: #590f08;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  color: white;
}

.navbar header {
  margin-bottom: 20px;
}
.navbar h4 {
  margin-bottom: 50px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin-bottom: 15px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  display: block;
  padding-bottom: 5px;
}


.navbar li a.schedule {
  
  padding-bottom: 25px;
  padding-bottom: 50px;
}

.navbar li a:hover {
  color: #000;
}

.navbar button {
  width: 50%; 
  color: #150926;
  border-radius: 25px; 
  padding: 5px 10px; 
  font-size: 12px; 
  margin-top: 10px;
  align-items: center;
}