/* LoginForm.css */
.login-form-container {
  background-color: #bf3604;
  color: white;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family: Helvetica;
}

.login-form-container h2 {
  text-align: center;
}

.ui.input label {
  text-align: center;
}

.ui.input {
  margin-bottom: 10px;
}

/* Style the input fields */
.ui.input input {
  width: 80%; /* Make the input fields wider */
  border-radius: 25px; /* Add rounded corners to the input fields */
  padding: 10px; /* Adjust padding for better spacing */
  font-size: 16px; /* Increase font size for better readability */
  align-items: center;
}

button.ui.button {
  width: 80%; /* Make buttons wider */
  color: #0C0C0D;
  border-radius: 25px; /* Add curved corners */
  padding: 10px 20px; /* Adjust padding for shorter buttons */
  font-size: 16px; /* Increase font size for better readability */
  margin-top: 10px;
  align-items: center;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the container height to 100% of the viewport height */
}

button.ui.red.button {
  width: 80%;
  background-color: #590F08;
  color: white; /* White text on red background */
  margin-top: 10px; /* Add margin between login and sign-up buttons */
  align-items: center;
}
