
.chart-container {
    width: 99%;
    height: 400px;
    margin: 0 auto;
    padding-top: 100px; 
    border: 2px solid white;
    
}
.season-stat-dropdown{
    margin-bottom: 40px;
    font-size: 20px;
}
  
 
.chart-title {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center; 
  }
  .chart-title.uppercase {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  
  
  .chart-axis-labels,
  .chart-grid-lines {
    color: white;
  }
  
  
  .chart-legend {
    display: block;
    position: bottom;
  }
  
  
  .chart-line {
    background-color: rgba(75, 192, 192, 0.4);
    border-color: rgba(255, 0, 0, 1);
    border-width: 2px;
  }
  
  
  .chart-data-points {
    background-color: rgba(255, 0, 0, 1);
  }

  .header{
    text-align: center;
    color: white;
    text-transform: uppercase;
  }
  .stat-boxes-container {
    display: flex;
    justify-content: space-around;
  }
  

  .stat-box {
    background:  #bf3604;
    border-radius: 10px;
    padding: 20px;
    margin: 20px; 
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
  }
  
  
  .stat-box h4 {
    font-size: 18px;
    color: #0c0c0d;
    margin-bottom: 30px;
    background-color: white; 
    padding: 10px; 
    border-radius: 10px; 
    text-align: center; 
  }
  
  
  .stat-box p {
    font-size: 16px;
    color: white;
    margin: 0; 
  }
  

.select-box {
    width: 200px;
    background-color: #bf3604;
    color: white;
    border-radius: 25px;
    padding: 10px 10px;
    font-size: 16px;
    margin-top: 10px;
    border: none; 
    outline: none; 
    cursor: pointer; 
  }
  
  
  .select-box option {
    background-color: #bf3604;
    color: white;
  }
  