/* team.css */

/* teams.css */

.team-container {
  display: flex;
  flex-wrap: wrap;
}

.team-card {
  width: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #bf3604; /* Set the background color to orange */
  border-radius: 10px; /* Add rounded corners */
  padding: 20px;
  text-align: center;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .team-card {
    width: calc(50% - 20px); /* 50% width on smaller screens */
  }
}

@media (max-width: 480px) {
  .team-card {
    width: 100%; /* Full width on even smaller screens */
    margin-right: 0; /* No spacing between cards */
  }
}

  
  .team-details-button {
    display: inline-block;
    background-color: #150926; /* Background color for the button */
    color: white;
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Add rounded corners to the button */
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }
  
  .team-details-button:hover {
    background-color: #bf3604; /* Change the button background color on hover */
  }
  