/* yourTeam.css */

/* Apply white text color to all text in the component */
.your-team {
  color: white;
  padding-bottom: 20px;
}

/* Style the table */
.your-team table {
  width: auto;
  border-collapse: collapse;
  border: 2px solid white;
  background-color: white;
  color: black;
}

/* Style the table headers with the color #bf3604 and center-align the labels */
.your-team th {
  color: #bf3604;
  text-align: center;
  padding: 8px;
  border: 1px solid black;
}

/* Style the "Name" column and center-align the labels */
.your-team th.name,
.your-team td.name {
  text-align: center;
}

/* Style the "Position" column and center-align the labels */
.your-team th.position,
.your-team td.position {
  text-align: center;
}

/* Style the "Show Game Stats" column and center-align the labels */
.your-team th.show-stats,
.your-team td.show-stats {
  text-align: center;
}

/* Style every other row with a light gray background */
.your-team tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style the table cells with padding for spacing */
.your-team td {
  padding: 8px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid black;
}

/* Add space between table cells */
.your-team td.name {
  padding-left: 0;
  text-align: left;
}

.your-team td:last-child {
  padding-right: 0;
}

/* Style the button with the color #bf3604, reduced size, and no border */
.your-team button {
  background-color: #bf3604;
  color: white;
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 12px;
  border: none;
}

/* Style the header background color */
.your-team h3 {
  background-color: #bf3604;
  padding: 10px;
  color: white;
}
.your-team h4 {
  text-align: center;
  color: white;
  
}

.ui.red.button {
  width: 100%;
  background-color: #0c0c0d;
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
}

.message{
  background-color: #bf3604;
  text-align: center;
  margin-top: 100px;
  border-radius: 25px;
  padding: 10px 20px;
}
