

.form-container {
    background-color: #bf3604;
    color: white;
    padding: 20px;
    width: 450px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-family: Helvetica;
  }
  
  .login-form-container h2 {
    text-align: center;
  }
  
  .stat.input {
    margin-bottom: 10px;
    text-align: left;

  }
  
  .stat.input label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
  }
  
  .stat.input select,
  .stat.input input {
    width: 70%;
    border-radius: 25px;
    padding: 10px;
    font-size: 16px;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .stat.button {
    width: 100%;
    background-color: #0c0c0d;
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
  }
  .error-alert {
    background-color: #0c0c0d; /* Red or any color you prefer for error messages */
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
   
    font-size: 10px;
  }
  .error-alert-update {
    background-color: #590f08; /* Red or any color you prefer for error messages */
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
   
    font-size: 20px;
  }
  